Source: 2stream
Section: devel
Priority: optional
Maintainer: Marlin Cremers <m.cremers@mms-projects.net>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7), openjdk-7-jdk, ant
Vcs-Git: git://github.com/MMS-Projects/2stream.git
Homepage: https://github.com/MMS-Projects/2stream/

Package: 2stream
Architecture: any
Depends: ${shlibs:Depends}, ffmpeg, openjdk-7-jre
Description: A Livestreaming application for Ubuntu
