#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export JAVA_HOME=/usr/lib/jvm/java-7-openjdk-amd64

%:
	dh  $@ #--with javahelper
       
build: clean
	ant linux
	
clean:
	ant clean
