#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

ARCH := $(shell getconf LONG_BIT)

JAVA_HOME_32 := /usr/lib/jvm/java-7-openjdk-i386
JAVA_HOME_64 := /usr/lib/jvm/java-7-openjdk-amd64

export JAVA_HOME := $(JAVA_HOME_$(ARCH))

%:
	dh  $@ #--with javahelper
       
build: clean
	ant linux
	
clean:
	ant clean
